.App{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 40px;
    grid-template-areas: 
    "s h"
    "s b";
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-y: hidden;
}

.App_content{
    grid-area: b;
}